name: Env Variables Demo
on:
  push:
    branches:
      - main

env:
  APP_ENV: github-actions   # workflow-level env

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      PORT: 8080            # job-level env
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install dependencies
        run: npm ci

      - name: Run application
        run: node app.js
